html {
  height: 100%;
}



.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(180, 0, 180);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(145, 53, 122);
  border-radius: 10px;
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
  width: 100%; 
  margin-bottom: 4px;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(241, 203, 232);
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: rgb(241, 203, 232);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}



.logbutton {
  display: flex; /* To easily center the text */
  justify-content: center; /* Centers the text horizontally */
  align-items: center; /* Centers the text vertically (though less crucial here) */
  padding: 10px 10px; /* Adjust padding to control size */
  text-decoration: none;
  height: auto; /* Adjust height as needed based on padding and font size */
  width: 40%; /* Make it full width of its container */
  border: none;
  outline: none;
  border-radius: 4px;
  background: #fff;
  color: black; /* Make the text black */
  font-size: 0.9em; /* Adjust the font size to make it smaller */
  text-transform: uppercase; /* Keep it uppercase if that's the design */
  letter-spacing: 1px; /* Adjust letter spacing as needed */
}

.logbutton:hover {
  background: #ff9e58;
  transition: all 0.3s ease;
  color: black; /* Ensure hover text is also black if desired */
}

